*{
    margin: 0;
    padding: 0;
}
footer{
    width: auto;
    text-align: center;
    background-color: #222124;
    margin-top: 6rem;
}
.img2 {
    width: 100px;
    height: auto;
    background-color: white;
    margin-top: 0.5rem;
}
.container {
    display: flex;
   flex-direction: row;
   
}    
.divtexto {
   text-align: left;
   margin-top: 4rem;
   margin-right: 5rem;
}
.img1 {
    width:400px;
    height: auto;
    margin-top: 3rem;
    margin-right: 2rem;
    margin-left: 7rem;
    border-radius:50px;

}

header{
    text-align: center;
    font-size: 30px;
    background-color:#FE9EE3;
    color:black;
    font-weight: bold;
}
h1{  
    font-family: "Anton", sans-serif;
    font-style: normal;
    text-align: center;
    justify-content: center;
    padding:10px;
    background-color:#ff9be3;
    color:rgb(79, 3, 94);
    font-weight: 400;
}
p{
    font-size: 18px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(79, 3, 94);
    padding: 10px;
    margin-bottom: 1rem;
}

a{
    color:rgb(79, 3, 94);
    text-decoration: none;
}
a:hover{
        background-color: rgb(221, 69, 201);
        
}

@media (max-width: 768px) {
    header{
        width: 115%;
    }
    footer {
        width: 115%;
    }
    .divtexto{
        margin-top: 1rem;
        text-align: left;
        margin-left: 9rem;
        width: 90%;
        padding: 50px;
    }
    p {
        font-size: 19px;
        margin-bottom: 2rem;
    }
    .container {
        display: flex;
       flex-direction: column;
       justify-content: center;
        align-items: center;
      
    }    
    .img1{
        width: 350px;
        height: auto;
        margin-top: 3rem;
        margin-left: 6rem;
        border: solid black 5px;
    }
}



